.title-banner-loc{ 
    position: absolute;
    width: 300px;
    height: 66px;  
    top: 28px;
    left: 55px;
    right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
     
}

.Div-banner-loc{ 
    
    border-radius: 20px;
}


.Icon-banner-loc{  
    position: absolute;               /* 2 */
    top: 38px; 
    left: 0px;
}


.location-div{

    position: relative;
}
 

.cardScroll-active{
    margin-top: 10px;
    margin-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    
    
    border-radius: 20px;

}
.cardScroll-active:hover{
    margin-top: 10px;
    margin-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    transition-duration: 500ms;
    
    border-radius: 20px;
    filter: brightness(85%);
    cursor: pointer;
    
}