.title-get{
    position: absolute;
    top:33%;
    color: #62A1E8;
    text-align: center;
    width: 100%;
    
    position: absolute;               
    left: 50%;                        
    transform: translate( -50%, 0)
    
}


.discription-get{
    position: absolute;
    top: 40%;
    color: #99A2AD;
    left: 50%;                        
    transform: translate( -50%, 0);
    text-align: center;
}

.mainIcon-get{
    position: absolute;
    top: 18%;
    color: #62A1E8;

    left: 50%;
    margin-left: -32px;
}

.mainButton-get{
    position: absolute;
    height: 54px;
    left: 40px;
    right: 40px;
    background-color: #2688EB;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    bottom: 84px;
    
  
  }

.notNowButton{
    position: absolute; 
    left: 40px;
    right: 40px;
    
    bottom: 23px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}