html{

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}


.tab-div-h{
    width: 90%;
    
    transition: all  200ms;
}

.panelHeader-h{
    width: 100%;  
}

.openCardDiv{

    height: 320px; /*анекдот про тракториста*/
    width: 90%;
    
    
    transition: height 100ms;

}

.closeCardDiv{

    height: 64px; 

    width: 90%;
    
    transition: height 100ms;
    
}

.card-h{
    position: relative;
    border-radius: 20px;
    margin-bottom: 10px;
}

.closeHeadTitle{
    position: absolute;
    width: 50%;
    left: 5%;
    right: 10%;
    top: 50%;
    margin-top: -0.625em; 
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}
.closeHeadTitleNotLoc{
    position: absolute;
    width: 70%;
    left: 5%;
    right: 10%;
    top: 50%;
    margin-top: -0.625em; 
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}
.openHeadTitle{
    position: absolute;
    left: 5%;
    right: 10%;
    top: 13%;
    margin-top: -0.625em; 
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

.distanceToPointOpen{
    position: absolute;
    
    right: 15%;
    top: 13%;
    margin-top: -0.625em;
    color: #62A1E8;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

.distanceToPointClose{
    position: absolute;
    
    right:15%;
    top: 50%;
    margin-top: -0.625em;
    color: #62A1E8;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

.chevronUpIcon{/*иконки*/
    position: absolute;
    right: 5%;
    top: 13%;
    margin-top: -14px;
    color: #62A1E8;
}

.chevronDownIcon{ /*иконки*/
    position: absolute;
    right: 5%; 
    top: 50%;
    margin-top: -14px;
    color: #62A1E8;

}

.openAddressHeadDiv{
    position: absolute;
    left: 6%;
    right: 10%;
    top: 26%; 
}

.openAddressHead{
    position: absolute;
    left: 24px;
    right: 10%;
    top: 26%;
    margin-top: -12px;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

.adressDiv{
    position: absolute;
    left: 5%;
    right: 10%;
    top: 31%;
    margin: 5px;
}

.adressIcon{
    position: absolute;
    display: inline-block;
    top: 50%;
    margin-top: -10px;
}
.openAddress{
    display: inline-block;
    text-align: center;
    
    margin-top: -0.625em;
    color: #99A2AD;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}
.openTakeHead{
    position: absolute;
    left: 24px;
    right: 10%;
    top: 52%;
    margin-top: -0.625em; 
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

.openTakeHeadDiv{
    position: absolute;
    left: 6%;
    right: 10%;
    top: 46%;
}

.openTake{
    height: 24px;
    width:90px ;
    position: absolute;
    left: 40%;
    right: 40%;
    top: 50%;
    margin-top: -0.625em;
    color: #62A1E8;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

.openTakeText{ 
    margin: 5px;
    display: inline;
    cursor: default;
}

.openTakeDiv{
   
    position: absolute;
    width: 300px;
    top: 52%;
    left: 5%; 
}

 
.openTakeCard{ 
    padding: 5px;
    margin: 2px;
    
}

.buttonLocation-h{
    position: absolute;
    right: 5%;
    top: 75%;
    color: #62A1E8;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    border-radius: 12px;
    margin-top: 15px;
}


/*items*/
.takeGroup{
    margin-top: 20px;
}
.itemTab-h{
    margin: 12px;
}


.titleCell{
    width: 90px;
}

.titleCellOneLine{
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.itemCell{ 
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cardScroll-h{
    margin-top: 10px;
    margin-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    
    
    border-radius: 20px;
}

.scrollDiv-h{
    margin-top: 10%;
}


.tryAgainDiv{
    left: 60px;
}

.tryAgainCard{
    
    border-radius: 20px;
}


/*banners*/
.bannersGroup{ 
}

.cardScroll{
    
}